.moves-abilities__container {
	display: flex;
	flex-direction: column;
	margin: 5%;
	flex: 0.4;
	max-height: 300px;
	border-radius: 5px;
	border: 3px solid #0269b6;
	background: white;
	width: 20%;
	overflow-y: scroll;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	align-items: center;
	color: #0269b6;
}

.details_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #0269b6;
}

.back-button {
	border: 3px solid #0269b6;
	border-radius: 10px;
	padding: 1%;
	background-color: #ffca00;
	color: #0269b6;
	font-weight: bold;
	margin-bottom: 20px;
}

.view-details_button {
	border: 3px solid #0269b6;
	border-radius: 5px;
	padding: 3%;
	background-color: #ffca00;
	color: #0269b6;
	font-weight: bold;
	margin-bottom: 20px;
}

.logo {
	max-width: 200px;
}

.moves-abilities__container::-webkit-scrollbar {
	width: 10px;
	border-radius: 10px;
}

/* Track */
.moves-abilities__container::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
.moves-abilities__container::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

/* Handle on hover */
.moves-abilities__container::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.combatDetailsContainer {
	display: flex !important;
	flex-direction: row;
	justify-content: space-evenly;
	border-radius: 15px;
	border: 4px solid #ffca00;
	background-color: white;
}

ul.no-bullets {
	list-style-type: none;
	padding: 0; /* Remove padding */
	margin: 0; /* Remove margins */
	width: 80%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.no-decoration {
	color: inherit;
}

li.no-bullets {
	display: flex;
	justify-content: center;
	background-color: #ffca00;
	width: 100%;
	margin: 2% 0%;
	padding: 1% 0%;
	border: #0269b6 solid 4px;
	border-radius: 8px;
	font-weight: 600;
}

/* for phone screen size  */
@media (max-width: 500px) {
	.combatDetailsContainer {
		flex-direction: column;
		align-items: center;
	}

	li.no-bullets {
		display: flex;
		justify-content: center;
		background-color: white;
		width: 100%;
		margin: 2% 0%;
		padding: 1% 0%;
		border: none;
		border-radius: none;
		font-weight: 600;
	}

	.moves-abilities__container {
		width: 80%;
	}
}
